*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none ;
    border: none ;
    outline: none;
    scroll-behavior: smooth;
    font-family:forest;

}

@font-face {
    font-family: 'blankspace';
    src: url(./fonts/blankspace.otf);
}

@font-face {
    font-family: 'pricedown-bl';
    src: url(./fonts/pricedown-bl.otf);
}

@font-face {
    font-family: 'forest';
    src: url(./fonts/forest.otf);
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #008ae6, 0 0 15px #008ae6, 0 0 20px #009de6, 0 0 30px #00b0e6, 0 0 40px #00b0e6;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 15px #85fff9, 0 0 25px #4dfff0, 0 0 30px #4dfff0, 0 0 35px #005045, 0 0 40px #006d64, 0 0 50px #004b55;
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.8rem);
        
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rotateImage{
    0%{
        transform: translateY(0);
    }
    50%{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); 
        
    }
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1); 
    }
}


body {
    background-color: rgb(31, 44, 44);
    /* overflow-x: hidden !important; */
}

:root{
    --main-bg-color: rgb(27, 72, 80);
    --first-bg-color:  rgb(42, 58, 61);
    --second-bg-color:  rgb(31, 44, 44);
    --second-text-color:  rgb(30, 137, 163);
    --text-color:#fff;
    --main-color:#0ef;
    --blue-color:#008ae6;
    --text-button-color:rgb(0, 83, 88);
}

html {
    background: var(--main-bg-color);
    color: var(--text-color);
   
}

section {
    min-height: 100vh;
    padding: 10rem 10rem 9% ;
}

.header {
    position: fixed ;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 0.75rem 9%;
    background: var(--main-bg-color);
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    z-index: 100;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.glow {
    font-size:  2.5rem;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

.logo {
    /* font-size: 1.5rem; */
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    font-family:'blankspace';
    
}

.navbar a {
    font-size: 2.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover, 
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 4.6rem ;
    color: var(--text-color);
    display: none;
    padding-left: 0%;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-bg-color);
}

.home-img img{
    width: 30vw;
    border-radius: 50%;
     -webkit-transform: scaleX(-1) ;
    transform: scaleX(-1); 
     /* animation: floatImage 6s ease-in-out infinite; */
    /* transition: .5s ease; */

}


/* 
.home-img img:hover{
    animation: floatImage 6s ease-in-out infinite;
}   */


span{
    color: var(--main-color);
}


.home-content h1 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 2.2rem;
    font-weight: 700;
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
  }

  
.home-content p {
    font-size: 2.5rem;

}

.social-media a {
    /* font-size: 2.6rem !important;
    color: var(--text-color); */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0.8rem 1.5rem 2rem 0;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
}

.social-media a:hover {
    background: var(--main-color) ;
    color: var(--second-bg-color) ;
    /* box-shadow: 0 0 1ram var(--main-color); */
    box-shadow: 0 0 1rem var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    
}

.btn:hover{
    box-shadow: none; 
    animation: floatImage 6s ease-in-out infinite;
}


.btn-txt{
    color: var(--text-button-color);
    font-size: 1.6rem;
    /* animation: glow 1s ease-in-out infinite alternate; */
} 

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:var(--second-bg-color);
}

.about-img img{
    width: 20vw;
    border-radius: 50%;
    transition: .5s ease;
    animation: rotateImage 6s ease-in-out infinite;
}

.about-img img:hover{
    transform: scale(1.02);

}


.heading{
    text-align: center;
    font-size:4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
    font-weight: 700;
}

.about-content p{
    font-size: 2.5rem;
    margin-bottom: 2rem 0 3rem;
}


.services h2{
    margin-bottom:  5rem;
 }

 
.services-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  
}

.services {
    background: var(--first-bg-color);
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 2rem 2rem 4rem;
  border-radius:  15rem;
  text-align: center;
  /* border-color: var(-second-bg-color); */
  border: .2rem solid var(--main-color);
  transform: scale(0.9);
  transition: .35s ease;

}

.services-container .services-box:hover{
    background: var(--main-bg-color);
    border: .2rem solid var(--text-color);
    transform: scale(1.01);
    
}

.services-box i{
    font-size: 7rem;
    color: var(--main-color);
}


.services-box h3{
    font-size: 2.6rem;

}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    border: .2rem solid var(--text-color);
    overflow: hidden;
    display: flex;
}

.portfolio-container .portfolio-box:hover {
    box-shadow: 0 0 1rem var(--main-color);
}


.portfolio-box img{
    width: 100%;
    height: 100%;
    max-height: 300px;
 
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform:  scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .25), var(--main-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact{
    background: var(--first-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 100rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--text-button-color);
    border-radius: .8rem ;
    margin: .7rem 0;

}

::placeholder {
    color: var(--second-text-color);
}



.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem ;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem ;
    color: var(--second-bg-color);
}

.contact form .input-box input{
    width: 48%;
}


@media (max-width: 1280px){
    
    
    html{
        font-size: 65%;
    }

}

@media (max-width: 1024px){

    
    .header{
        padding: 2rem 1rem 3%;
    }

    
    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }

 
}

@media (max-width: 800px){

    #menu-icon{
        display: block;
    }

    /* section{
        padding: 2rem 3% 2rem;
    } */

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }
    
    .home-content h3{
        font-size: 2.6rem;
    }
    
    .home-content h1{
        font-size: 5rem;
    
    }
    
    .home-img img{
        width: 60vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img{
        width: 60vw;
        margin-top: 4rem;
    }

    
    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;

    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }

  
}

@media(max-width: 600px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }

    #menu-icon{
        display: block;
    }

    /* section{
        padding: 2rem 3% 2rem;
    } */
  
}

@media(max-width: 480px){
    html{
       font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }

    #menu-icon{
        display: block;
    }

    /* section{
        padding: 2rem 3% 2rem;
    } */
}

@media(max-width: 360px){
   .home-img img{
       width: 90vw;
    }

    /* section{
        padding: 2rem 3% 2rem;
    } */

    #menu-icon{
        display: block;
    }

   .about-img img{
     width: 90vw;
    }

    .footer{
        flex-direction:column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}
